
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.display-flex{
display: flex;
}
.text-gray{
    color:#E95A08 ;
}
.navbar{
    justify-content: space-between;
}
.nav-item{
list-style: none;
margin-right: 30px;
}
.text{
    color: #252432;
    font-weight: bold;
    font-size: medium;
}
.t{
    color: #8987A1;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.fresh{
    text-align: center;
}
.our-freatures{
    
    max-width: 500px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
@media screen and( max-width: 576px) {
    .navbar,
    .nav-links,
    .fresh{
        flex-direction: column;
    }
 
.img-container{
    grid-template-columns: repeat(1,1fr);

}
}